$navfonts: 'Anton', sans-serif;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRulAW-E_A7yRRcR9eLulVYSg6n7anQQ5tdKVmdZJzlp5bHGr-2");
  
}

.flexcontainer  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTitZ9f5X4moEJ0TUSMoJBPK3q4cbcGoagExrGjvbmg__Ll6kq0");
  background-size: auto;
  border-bottom: 1px solid black;
}

#logo-fesc  {
  font-size: 7em;
  width: 25em;
  text-shadow: 3px 3px 3px darkgray;
} 

ul a {
  display: flex;
  flex-flow: column;
  text-decoration: none;
  color: black;
  margin-right: 20em;
  width: 100%;
}

li  {
  list-style-type: none;
  font-family: $navfonts;
  background: linear-gradient(to right, white , silver);
  font-size: 1.2em;
  padding: 0 0 0 1em;
  box-shadow: 0 0 1rem  black;
}

div img  {
  width: 8em;
  border: 3px solid black;
  margin-left: 1em;
  transition: transform 3s ease-in-out;
  transform: rotate(360deg);
}

.industry  {
  margin-left: 15%;
}

.education  {
  margin-left: 10%;
}

.facility  {
  margin-left: 5%;
}

.florida  {
  text-align: center;
  width: 100%;
  color: white;
  background-color: black;
  font-size: 2em;
  margin-top: 0;
  font-family: 'Source Serif Pro', serif;
  background: linear-gradient(to left, #333A42, black);  
}

.dropbtn {
  background-color: white;
  color: black;
  padding: 6px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 8px;
  font-family: $navfonts;
  box-shadow: 1px 1px 1px black;
  margin: 0 0 0 5em;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin: .4em 0 0 4em;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: $navfonts;
  background-color: black;
  border: 1px solid black;
}

.dropdown-content a:hover {background-color: darkseagreen;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: grey;
}

.article  {
  width: 70%; 
  float: right;
  margin: 1em 2em 2em 0;
  background-color: white;
  padding: 0 1em; 
  font-family: 'Source Serif Pro', serif;
  box-shadow: 3px 3px 3px black;
  h1  {
    text-decoration: underline;
  }
}

figure img  {
  width: 50%;
  margin: 0 25% 0 25%;
}

figcaption  {
  text-align: center;
  font-family: $navfonts;
}

aside  {
  float: left;
  position: relative;
  margin: 3em 3em 0 2em;
}

button {
  width: 6em;
  background-color: grey;
  color: black;  
}

section  {
  clear: both;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #C2CFFF;
  border: 8px solid black;
  margin: 0 .5em;
}

form  {
  margin-top: 2em;
  font-family: $navfonts;
}

section h4  {
  font-family: 'Source Serif Pro', serif;
  color: black;
  background-color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

section a  {
  text-decoration: none;
  width: 100%;
  text-align: center; 
}

.share  {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0 2em 0;
}

@media (max-width: 725px) {
  .flexcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
  }
  
  ul {
    width: 45%;
    margin-right: 6em;
  }
  li  {
    width: 100%;
  }
  #logo-fesc {
    margin: 0 50%;
  }
  .home  {
    margin: 0 50%;
  }
  .industry {
    margin: 0 50%;
  }
  .education {
    margin: 0 50%;
  }
  .facility  {
    margin: 0 50%;
  }
  
  figure img  {
    width: 100%;
    margin: auto;
  }
  aside  {
    width: 85%;
    margin: 1em auto 1em auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form  {
    text-align: center;
  }
}

@media (max-width: 350px){
  ul {
    width: 45%;
    margin-right: 6em;
  }
  #logo-fesc  {
    font-size: 4em;
  }
  .article  {
    margin: 0 1.5em;
  }

  .energy  {
    width: 100%;
  }
  
  figure img  {
    width: 100%;
  }
  aside  {
    width: 75%;
    margin: 1em auto 1em auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dropdown-content  {
    margin: auto;
  }
  
  form  {
    text-align: center;
  }
}